<%- contentFor('title') %>View Post
<%- contentFor('body') %>
<h1><%= record.title %></h1>
<p>From: <%= record.from %></p>
<p><%= record.full_text %></p>
<p><%= record.media_url %></p>
<img src="<%= record.media_url %>">
